{% extends "layout.html" %}
{% block content %}
<div class="container-feed">
    {% for author in entries %}
        <img class="rounded-circle feed-img" src="{{ url_for('static', filename='profile_pics/' + author.image_file) }}">
        <span class="feed-style"> <a href="{{ url_for('spectate', user_id=author.id) }}"> {{ author.username }} </a> </span>
        <div class="entry-style">
          <!-- <div class="media-body"> -->
            <!-- <h2> New Entries </h2> -->
            {% for entry in entries[author] %}
              <div class="individual-goal">{{ entry.text }} </div>
            {%  endfor %}

            <!-- <h2> New Goals </h2> -->
            {% for goal in goals[author] %}
              <div class="row individual-goal">
                <div class="col-md-1">
                    <div class="dot"></div>
                </div>
                <div class="col-md-11">
                    <div> {{ goal.text }} </div>
                </div>
            </div>
            {%  endfor %}
          <!-- </div> -->
        </div>
    {% endfor %}


{#    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}#}
{#      {% if page_num %}#}
{#        {% if posts.page == page_num %}#}
{#          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>#}
{#        {% else %}#}
{#          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>#}
{#        {% endif %}#}
{#      {% else %}#}
{#        ...#}
{#      {% endif %}#}
{#    {% endfor %}#}
</div>
{% endblock content %}
