{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="content-section">
            <!-- <div class="media"> -->
            <div class="account-heading">{{ other_user.username }}</div>
            <img class="rounded-circle account-img" src="{{ image_file }}">
            {% if other_user not in current_user.friends %}
                <form>
                    <input type="submit" value="Add Friend" onclick="addFriend({{ other_user.id }})">
                </form>
            {% endif %}
            <!-- <div class="media-body"> -->

            <!-- <p class="text-secondary">{{ other_user.email }}</p> -->
            <!-- </div> -->
            <!-- </div> -->

            <!-- table of contents -->
            <div class="pink-divider"></div>
            {% for page in pages %}
            <div class="sidebar-journal">{{page.title}}</div>
            <div class="pink-divider"></div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <!-- <h1 class="mb-3">{{ other_user.username }} journal</h1> -->
        <div class="date-style">Monday, April 3 2020</div>
        <br>

        <!-- pages of entries and goals -->
        {% for page in pages %}
        <div class="row">
            <div class="header-style">{{ page.title }} </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="entry-section">
                    <!-- <div class="media-body"> -->

                    <!-- <div class="header-style"> Ideas </div> -->
                    <!-- <ul> -->
                    {% for entry in entries.get(page.id) %}
                    <div class="entry-style"> {{ entry.text }} </div>
                    {% endfor %}
                    <!-- </ul> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- <span class="dot"></span> -->

            <div class="col-md-6">
                <!-- <article class="media content-section"> -->
                <div class="entry-style">
                    <div class="goal-style"> Goals </div>

                    {% for goal in goals.get(page.id) %}
                    <div class="row individual-goal">
                        <div class="col-md-2">
                            <div class="dot"></div>
                        </div>
                        <div class="col-md-10">
                            <div> {{ goal.text }} </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- </article> -->
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}