{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="content-section">
            <!-- <div class="media"> -->
            <div class="account-heading">{{ current_user.username }}</div>
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="edit-profile">Edit</div>
            <!-- <div class="media-body"> -->

            <!-- <p class="text-secondary">{{ current_user.email }}</p> -->
            <!-- </div> -->
            <!-- </div> -->

            <!-- table of contents -->
            <div class="pink-divider"></div>
            {% for page in pages %}
            <div class="sidebar-journal">
                <a href="#" style="color:black;" onclick="showPage({{page.id}})">{{page.title}}</a></div>
            <div class="pink-divider"></div>
            {% endfor %}
            <form>
                <input type="text" id="page">
                <input type="submit" value="Add a page" onclick="addPage()">
            </form>

        </div>
    </div>
    <div class="col-md-8">
        <!-- <h1 class="mb-3">{{ current_user.username }} journal</h1> -->
        <div class="date-style">Monday, April 3 2020</div>
        <br>

        <!-- pages of entries and goals -->
        {% for page in pages %}
        <div id={{page.id}} class="page">
            <div class="row">
                <div class="header-style">{{ page.title }} </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="entry-section">
                        <!-- <div class="media-body"> -->

                        <!-- <div class="header-style"> Ideas </div> -->
                        <!-- <ul> -->
                        {% for entry in entries.get(page.id) %}
                        <div class="row" id="{{entry.id}}-entry-row">
                            <div class="entry-style col-md-12"> {{ entry.text }} </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <button type="button" class="btn btn-light btn-style" id="{{entry.id}}-entry-btn" onclick="editEntry({{entry.id}}, '{{entry.text}}')">Edit</button> 
                        </div> -->
                        {% endfor %}
                        <form>
                            <input type="text" id="{{page.id}}-entry">
                            <input type="submit" value="Add an entry" onclick="addEntry({{page.id}})">
                        </form>
                        <!-- </ul> -->
                        <!-- </div> -->
                    </div>
                </div>
                <!-- <span class="dot"></span> -->

                <div class="col-md-6">
                    <!-- <article class="media content-section"> -->
                    <div class="entry-style">
                        <div class="goal-style"> Goals </div>

                        {% for goal in goals.get(page.id) %}
                        <div class="row individual-goal">
                            <div class="col-md-2">
                                <div class="dot"></div>
                            </div>
                            <div class="col-md-10">
                                <div> {{ goal.text }} </div>
                            </div>
                        </div>
                        {% endfor %}
                        <form>
                            <input type="text" id="{{page.id}}-goal">
                            <input type="submit" value="Add a goal" onclick="addGoal({{page.id}})">
                        </form>
                    </div>

                    <!-- </article> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}